body {
  padding: 0;
  margin: 0;
}
#app{
  height: 100vh;
  max-width: 800px;
  margin: auto;
  padding: auto;
}
header {
  display: block;
  color: black;
  padding: 10px 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}
header img{
  width: 2rem;
  height: 2rem;
}
form {
  padding-top: 20px;
  display:flex;
  justify-self: center;
}
input {
  outline: transparent;
  border:2px solid transparent;
  padding: 8px;
  margin-right: 8px;
  border-radius: 4px;
  background-color: rgb(177, 226, 177);
}
input:focus-visible {
  outline: transparent;
  box-shadow: 0 0 0 2px transparent;  
  border: 2px solid transparent; 
}
button {
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: black;
  cursor: pointer;
  color:aliceblue
}
#delete {
  background-color: rgba(255, 0, 0, 0.8);
  display: block;
  width: 100%;
  box-sizing: border-box;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border:1px solid green;
}
th {
  background-color: green;
  color: white;
  padding: 8px;
  border: 1px solid black;
}
td {
  padding: 8px;
  border: 1px solid green;
}
footer {
  display: block;
  width: 100%;
  color: black;
  padding: 10px 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(177, 226, 177,0.4) ;
}